/*===========================================
            index.css
===========================================*/
*,
*::after,
*::before {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
*::-moz-focus-inner {
  border: 0;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  text-align: center;
}

.navbar-toggler:focus {
  outline: none;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  background-color: #333333;
}

.footer-span {
  font-size: 1.25rem;
}

/*Desktop First Common Breakpoints*/


/*tablet landscape and desktop layout (960px or more) */
@media only screen and (min-width: 960px) {
  /*...tablet landscape and desktop styles */
}

/*table portrait layout (768px to 959px) */
@media only screen and (max-width: 959px) {
  /*... tablet portrait styles */
  html {
    font-size: 83.3%;
  }
}

/*mobile landscape layout (480px to 767px) */
@media only screen and (max-width: 767px) {
  /*...mobile landscape styles */
  html {
    font-size: 75%;
  }
}

/*mobile portrait layout (479px or less) */
@media only screen and (max-width: 479px) {
  /*...mobile portrait styles */
  html {
    font-size: 62.5%;
  }
}